{% extends "base.html" %}

{% block title %}
Home | Work Logger
{% endblock %}

{% block content %}
<div class="container">
    <h1>Welcome to Work Logger</h1>

    {% for message in messages %}
        <div class="alert alert-dismissible {{ message.tags }}" role="alert">
            <div>{{ message | safe }}</div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
    
    <div class="row mt-3">
        <div class="col">
            <a href="{% url 'work_logger_add_planner' %}" class="btn btn-primary">Add Planner for today</a>
            <a href="{% url 'work_logger_add_retrospect' %}" class="btn btn-primary">Add Retrospect for today</a>
        </div>
    </div>

    <div class="row mt-3">
        <div class="card w-50">
            <div class="card-body">
                <h5 class="card-title">Past Planners</h5>
                <table class="table table-hover border mt-3">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Plans Before Lunch</th>
                            <th>Plans After Lunch</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if planners %}
                            {% for planner in planners %}
                                <tr>
                                    <td>{{ planner.date }}</td>
                                    <td>{{ planner.before_lunch }}</td>
                                    <td>{{ planner.after_lunch }}</td>
                                </tr>
                            {% endfor %}
                        {% else %}
                                <tr>
                                    <td colspan="3" class="text-center">No data yet.</td>
                                </tr>
                        {% endif %}
                    </tbody>
                </table>
                <a href="{% url 'work_logger_list_planners' %}" class="btn btn-outline-primary">View more planners</a>
            </div>
        </div>
        <div class="card w-50">
            <div class="card-body">
                <h5 class="card-title">Past Retrospects</h5>
                <table class="table table-hover border mt-3">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Before Lunch</th>
                            <th>Goals Reached?</th>
                            <th>After Lunch</th>
                            <th>Goals Reached?</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if retrospects %}
                            {% for retrospect in retrospects %}
                                <tr>
                                    <td>{{ retrospect.date }}</td>
                                    <td>{{ retrospect.before_lunch }}</td>
                                    <td>{{ retrospect.plans_before_lunch }}</td>
                                    <td>{{ retrospect.after_lunch }}</td>
                                    <td>{{ retrospect.plans_after_lunch }}</td>
                                </tr>
                            {% endfor %}
                        {% else %}
                                <tr>
                                    <td colspan="5" class="text-center">No data yet.</td>
                                </tr>
                        {% endif %}
                    </tbody>
                </table>
                <a href="{% url 'work_logger_list_retrospects' %}" class="btn btn-outline-primary">View more retrospects</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}