{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
Edit Log | Logger
{% endblock %}

{% block content %}
<div class="container">
    <h3>Welcome to Logger</h3>
    <a href="{% url 'logger_home' %}" class="btn btn-secondary">Logger Home</a>
    <h4 class="card-title">Update log for {{ log.date }}</h4>

    <div class="row my-3">
        <div class="col-sm-12">
            <h5>Progress</h5>
            <div class="progress" role="progressbar" aria-valuenow="{{ completed_tasks }}" aria-valuemin="0" aria-valuemax="{{ total_tasks }}">
                <div class="progress-bar" style="width: {{ progress }}%"></div>
            </div>
            <div>
                {{ completed_tasks }} completed out of {{ total_tasks }} - {{ progress }}%
            </div>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-sm-12 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div>
                        <form method="post">
                            {% csrf_token %}
                            {% crispy task_formset helper %}
                            <input type="hidden" name="tasks" value="1">
                            <button type="button" class="btn btn-outline-secondary" id="add_form">Add</button>
                            <button type="submit" class="btn btn-success">Update</button>
                        </form>
                    </div>
                </div>
            </diV>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-sm-12 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div>
                        <form method="post">
                            {% csrf_token %}
                            {% crispy log_form %}
                            <input type="hidden" name="note" value="1">
                            <button type="submit" class="btn btn-primary">Save Note</button>
                        </form>
                    </div>
                </div>
            </diV>
        </div>
    </div>
</div>

<script>
    $("#add_form").click(function() {
        add_form();
    })

    function add_form() {
        var empty_form = $(".empty-form");
        var new_form = empty_form.clone();
        var total_form_management_form = $("#id_form-TOTAL_FORMS");
        var current_forms = $("table >tbody >tr").length - 1;
        new_form.removeAttr("class");
        $("tbody").append(new_form);

        new_form.find("td").each(function() {
            var id = this.id;
            id = id.replace("__prefix__", current_forms);
            this.id = id;
        });

        new_form.find("input").each(function() {
            var id = this.id;
            id = id.replace("__prefix__", current_forms);
            this.id = id;

            $(this).attr("name", $(this).attr("name").replace("__prefix__", current_forms));
        });
        total_form_management_form.val(current_forms + 1);
    }
</script>
{% endblock %}